<% content_for :sidebar do %>
	<div class="well">
	  <h5 style="margin-top: 0">More Parts Available</h5>
    	<p style="display: inline-block">We have thousands of parts in our shop. Can't find the part you need online?</p>
	  <%= link_to "Contact Us", "/contact", class: "btn btn-primary", style: "width: 100%" %>
	</div>
	<div data-hook="homepage_sidebar_navigation">
		<div class="well">
			<%= render :partial => 'spree/shared/taxonomies' %>
		</div>
	</div>
<% end %>

<div data-hook="homepage_products">
  <% # cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products["base"], :search_type => "base", :taxon => @taxon } %>
  <% # end %>
</div>

