<div class="col-xs-12 col-sm-4 col-md-7">
	<ul id="nav-bar" class="nav navbar-nav navbar-left" data-hook>
  	<li data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>

