<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>

<%= form_tag spree.products_path, style: "padding: 0px;", :method => :get, class: "navbar-form" do %>
  <div class="form-group" style="width: 70%">
    <%= search_field_tag :keywords, params[:keywords], :placeholder => "Search for parts", class: "form-control" %>
  </div>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <span class="glyphicon glyphicon-search" style="color: #200099"></span>
  <% end %>
<% end %>
